<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>聚悦健康_测试</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.12.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>jyhmdoctor</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>171026</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>需要您的同意，才能使用蓝牙设备。</string>
	<key>NSCalendarsUsageDescription</key>
	<string>需要您的同意，才能使用日历功能。</string>
	<key>NSCameraUsageDescription</key>
	<string>需要您的同意，才能使用摄像头设备。</string>
	<key>NSContactsUsageDescription</key>
	<string>需要您的同意，才能获取通讯录信息。</string>
	<key>NSLocationUsageDescription</key>
	<string>需要您的同意，才能获取位置信息。</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>需要您的同意，才能使用话筒功能。</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>需要您的同意，才能获取相册信息。</string>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UpdateVersion</key>
	<string>12.27</string>
</dict>
</plist>
